body{
    background-color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    width:100%;
    max-width: 960px;
}
header{
    float: left;
    background-color:#ebebeb;
    padding: 25px;
    margin-left:5px;
    margin-top:15px;
    margin-right:5px;
    margin-bottom:10px;
    width:900px;

    
}
.nav{
    float: left;
    background-color: #ebebeb;
    float: left;
    padding: 25px;
    margin-left:5px;
    margin-top:5px;
    margin-right:5px;
    margin-bottom:5px;
    width:900px;
    
    
    
    
}
section{
    float: left;
    background-color: #ebebeb;
    padding: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-top: 25px;
    width: 450px;
    height:200px;
    
    
}
article{
    padding: 15px;
    margin-top: 20px;
    background-color: #777777
}
aside{
    float: left;
    padding :10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top:10px;
    margin-bottom: 10;
    background-color: #ebebeb;
    width:430px;
    height:200px;
}
.art{
    background-color: #ebebeb;
    padding: 5px;
    margin: 5px;
}
.footer{
    float: left;
    background-color:#ebebeb;
    padding: 20px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 910px;
    
}
    